body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
#Header {
  position: sticky;
  background-color: grey;
  top: 0;
  min-height: 4rem;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
/* #Routes{
  padding: 2rem 0;
  width: 100vw;
  height: 100vh; 
} */
#ProjectHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
#Index{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cardContainer{
  width: 70rem;
  margin: 1rem auto;
  /* max-height: 28rem; */
  min-height: 23rem;
  /* align-items: center; */
  overflow-y: auto;
  /* height: auto; */
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* text-align: center; */
  background-color: grey;
  padding: 1em 1em;
}


/*  
* Cards
*/
.card{
  width: 14rem;
  height: 20rem;
  margin: 0 1.5rem;
}
.cardHeader{
  margin: 0
}
.cardMedia{
  height: 65%;
}
.cardContent{
  height: 35%;
  display: flex;
  flex-direction: column;;
  align-content: space-around;
  /* background-color: var(--cardColor); */
}
.cardTagLine{
  margin: 0.1rem;
}

/*
Adding Cards (Background and Fine Art)
*/
.createCard{
  width: 20rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  height: auto;
  padding: 1rem;
  justify-content: center;
}
.cardForm input, textarea, select{
  padding: 0.3rem;
  margin: 0.5rem 0.5rem 1rem;
  width: 18rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}



.information{
  width: 100%;
  margin: 2rem;
  max-height: 20rem;
  min-height: 15rem;
  /* align-items: center; */
  overflow: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  background-color: grey;
  padding: 1.4em 1.4em;
}

.translations{
  display: flex;
  flex-flow: row wrap;
  background-color: blue;
}
.translationIndex{
  width: 49%;
  border: 1px solid
}
.translationInformation{
  width: 30rem;
  margin: 0rem auto;
  max-height: 20rem;
  /* min-height: 23rem; */
  /* align-items: center; */
  overflow: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  margin: 2rem;
  background-color: grey;
  padding: 1.4em 1.4em;
}

.characterDesignImage{
  width: 10rem;
  height: auto;
}
.characterDesignImage img{
  width: auto;
}

#Footer {
  position:sticky;
  width: 100%;
  /* bottom: 0 ; */
  margin-top: 2rem;
  min-height: 4rem;
  background-color: grey;
}