body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  overflow-y: auto;
  text-align: center;
}
.status{
  width: 100%;
}
.controls{
  text-align: center;
  height:auto;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: auto;
}
.button-group{
  display: flex;
  flex-flow: row nowrap;
  width: auto
}
.button-group button{
  margin: 0 0.2rem
}
a{
  color: black
}
#Header {
  position: relative;
  background-color: grey;
  top: 0;
  height: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
#Record{
  contain: content;
  width: 100%;
}



/*
Section Config
*/
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 
Project Header
} */
#ProjectHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#ProjectHeader div {
  width: 20rem;
  display: flex;
  text-align: center;
  justify-content: center;
}



.cardContainer{
  width: 70rem;
  margin: 1rem auto;
  /* max-height: 28rem; */
  min-height: 23rem;
  /* align-items: center; */
  overflow-y: auto;
  /* height: auto; */
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* text-align: center; */
  background-color: grey;
  padding: 1em 1em;
}


/*  
* Cards
*/
.card, .backgroundCard{
  width: 14rem;
  height: 19rem;
  margin: 0 1.5rem;
}
.card:hover{
  background-color: aqua;
}
.cardHeader{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardMedia{
  height: auto;
  padding: 5%;
}
/*
Card Forms (Background and Fine Art)
*/
.createCard{
  width: 20rem;
  /* margin: 0.5rem; */
  display: flex;
  align-items: center;
  height: auto;
  padding: 1rem;
  justify-content: center;
}
.cardForm input, textarea, select{
  padding: 0.3rem;
  margin: 0.5rem 0.5rem 1rem;
  width: 18rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/*
Page Forms
*/
form{
  width: 100%;
}
.formInput{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: auto;
  padding: 1rem;
  justify-content: center;
}
.formInput input, textarea, select{
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 1rem;
  width: 18rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.multilineInput, .singleLineInput, .photoInput{
  display: inline-flex;
  align-items: center;
  width: 40%;
  margin: 0.1rem;
}
label{
  width: 25%;
  text-align:center; 
}
.multilineInput textarea{
  padding: 0.2rem;
}
.authForm{
  /* background-color: blue; */
  padding: 2rem;
}


/*
Content and Index
*/
#Index{
  display: flex;
  flex-direction: column;
  align-items: center;
  contain: content;
  width: 100%;
}
.information{
  width: 100%;
  margin: 3rem 0;
  max-height: 30rem;
  /* min-height: 15rem; */
  /* align-items: center; */
  overflow: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  background-color: grey;
  padding: 1.4em 1.4em;
}
.addButton{
  display: flex;
  justify-content: center
}


/*
Fine Art
*/
.outputPayload{
  width: 100%;
}
.fineArtHeader{
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fineArtInformation{
  height: 50%;
  padding: 0.1rem;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
  /* background-color: blue; */
}
.fineArtFlipped{
  height: 100%;
}


/*
Translation
*/
#Translation{
  margin: 2rem 0 0 ;
}
.translations{
  display: flex;
  flex-flow: row wrap;
}
.translationIndex{
  width: 40%;
  border-radius: 0.5em;
  border: 1px solid;
  height: auto;
  contain: content;
  margin: auto;
}
.translationInformation{
  /* width: 100%; */
  height: 20rem;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* background-color: grey; */
  /* padding: 1.4em 1.4em; */
}

/*
Concept
*/
.conceptDescription{
  width: 40%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.conceptSlider{
  width: 50%;
}
.conceptSlider img{
  width: 1%
}

/*
Swiper Slider
*/
.swiperSlide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperSlide img{
  width: 50%;
  margin: auto;
}


#Footer {
  position: sticky;
  width: 100%;
  /* margin: 1rem 0 0; */
  height: 4rem;
  bottom: 0;
  background-color: grey;
}